@charset "UTF-8";
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

.card{
	height: auto;
    min-height: 1080px;
}
.select-container-area{
	width: 65%;
    margin: 4em auto 0;
    font-family: 'LotteMartDream';
}
#subTable{
    width: 1000px;
}
.table .thead-light th{
 	background-color: #0b2d61;
    color:white;
    text-align: center;
}
td{
	text-align: center;
}
.button{
	height: 35px;
	font-size: 12px;
	padding: 0px 10px 10px 10px;
    border-radius: 5px;
}
#buttonTh{
	padding: .75rem;
}
#buttonDiv{
	width: 100%;
	height: 100%;
}
#subThzero{
	width: 150px;
    vertical-align: middle;
    padding-left: 100px;
}
#subTdzero{
	width: 150px;
    vertical-align: middle;
    padding-left: 100px;
}
h2{
	font-family: 'LotteMartDream';
	color : #1d25af;
	font-size: 2.0em;
	font-weight: 600;
}
#banner{
	margin: 20px 0px 20px 0;
}


.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header {
	display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-body {
    position: relative;
    padding: 15px;
     flex: 1 1 auto;
    padding: 1rem;
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
     padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
 .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal.in .modal-dialog {
	transform: translate(0,0);
}
.modal-dialog {
    width: 600px;
    margin: 30px auto;
    pointer-events: none;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
}
.modal-footer>* {
    margin: .25rem;
}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}