@charset "UTF-8";

.card{
		width: 60%;
	    height: auto;
	    margin: 20px auto 0;
	    border: none;
	    padding: 40px;
	}
	.title-top{
		text-align:center;
		margin:20px;
		height: 150px;
	}
	#title{
		color : #1d25af;
		font-weight: 600;
		font-family: 'LotteMartDream';
		font-size: 35px;
	}
	.row{
		margin: 50px 130px 0;
		background-color: white;
	}
	.btnClass{
		float:right;
		width: 80px;
		margin-right: 10px;
	}
	.header{
		float: right;
	}
	.headerId{
		width: 100%;
		text-align: right;
		font-size: 20px;
    	font-weight: 600;
	}
	.headerDate{
		width: 100%;
		text-align: right;
		color: #a9a8a8;
   		font-size: 17px;
    	font-weight: 400;
    	margin-top: -10px;
	}
	#idImg{
		width: 20px;
	}
	.contentDiv{
		margin: 30px;
	    border: 2px solid #c1bebe;
	    height: 350px;
	    padding: 20px;
	    font-size: 18px;
    	font-weight: 500;
	}
	#listbutton{
		width: 80px;
   		margin-left: 30px;
	}
	.btnDiv{
		margin-right: 19px;
	}
	.contents{
		min-height:100px;
	}
	.condiv {
		height : 20px;
	}
	.CommentWriter{
		margin: 12px 0 29px;
	    padding: 16px 10px 10px 18px;
	    border: 2px solid #6f63631a;
	    border-radius: 6px;
	    box-sizing: border-box;
	    background-color: #fdfcfc;
	    height: 125px;
	    width: 820px;
	    margin-left:auto;
	    margin-right:auto;
	}
	.CommentWriter .comment_inbox_text {
	    display: block;
	    width: 100%;
	    min-height: 17px;
	    padding-right: 1px;
	    border: 0;
	    font-size: 18px;
	    resize: none;
	    box-sizing: border-box;
	    background: transparent;
	    color: var(--skinTextColor);
	    outline: 0;
	}
	.CommentWriter .register_box .button {
	    display: inline-block;
	    min-width: 46px;
	    height: 34px;
	    line-height: 36px;
	    font-size: 13px;
	    color: var(--skinCommentWriterText);
	    border-radius: 6px;
	    box-sizing: border-box;
	    font-weight: 700;
	    text-align: center;
	    vertical-align: top;
	}
	label{
		text-transform: none;
	}
	p{
		line-height: 2.5;
		margin-bottom: 0;
	}
.lesnm-sp{
	font-size: 18px;
    color: #484848;
}
.title-div{
	width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
}
.title-btn{
	width: 100%;
    height: 25%;
}
.title-mid{
    width: 100%;
	height: 70px;
    text-align: right;
    border-bottom: 1px solid #d0d0d0;
}
.cont-mid{
	margin: 20px 30px 0 30px;
    height: 300px;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
}
.reply-div{
	font-size: 19px;
    font-weight: 600;
    color: #005F86;
}
.label-st{
    font-size: 15px;
    color: #848484;
}
.rep-color{
	background: #dcd4d4;
    width: 36px;
    border-radius: 3px;
    color: #d40808;
}
.btn-div{
	
}
.del-color{
    width: 36px;
    border-radius: 3px;
    font-weight: 600;
    color: #6b6b6b;
}
.p-color{
	float:left; 
	margin-left:30px;
	color: black;
}
.sub-btn{
	float: right;
    color: #fff;
    width: 40px;
    font-weight: 600;
    height: 28px;
    background: #005F86;
    border-radius: 3px;
}
.control-label{
	color: black;
}