@charset "UTF-8";
#pt{
	font-size: 25px;
}
.nfn{
	color: #32325d;
}
#noteTitle{
	width: 820px;
}
#nt{
	font-size: 18px;
}
#d1{
	text-align: right;
	width: 820px;
}
.note-select-box{
    width: 92%;
    margin: 30px auto;
    height: auto;
    min-height: 819px;
    display: flex;
    justify-content: center;
    background: white;
}
.divider{
    width: 100%;
    height: 6px;
    background: #8080806b;
}
#form{
	margin-top: 6px;
}
.note-select-item{
	margin-top: 14px;
}
