@charset "UTF-8";

.progress{
	width: 104px;
}
#lesson-tb{
    margin: 23px auto 0;
    border: 1px solid;
    width: 80%;
    text-align: center;
}
.info-remain{
	display: flex;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
}
.info-remain span{
    display: inline-block;
    width: 50px;
}