@charset "UTF-8";
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

.lesson-detail-box{
	font-family: 'LotteMartDream';
	padding-top: 2px;
}
h2{
	font-size: 35px;
}
.lesson-detail-item{
	height: 27px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.lesson-info{
    display: inline-block;
    width: 100px;
    height: 100%;
    line-height: 27px;
    text-align: center;
    background: rgb(0,94,135);
    color: white;
    font-weight: 600;
    border-radius: 7px;
    margin-right: 10px;
}
h3{
	font-size: 30px;
	margin-bottom: 12px;
}
.lesson-index-tb{
	width: 100%;
	text-align: center;
	border-top: 3px solid #616060e0;
	border-bottom: 3px solid #616060e0;
}
.lesson-index-tb th{
	font-size: 19px;
}
.lesson-index-tb td{
	border-top: 2px solid #8080809c;
}
