.form-control-label {
    font-size: .875rem;
    font-weight: 600;
    color: #525f7f;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.focused .form-control {
    border-color: rgba(50, 151, 211, .25);
}
.focused .form-control {
    border-color: rgba(50, 151, 211, .25);
}
.form-control-alternative {
    transition: box-shadow .15s ease;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
}
.form-control {
    font-size: .875rem;
}
.heading-small {
    font-size: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    letter-spacing: .04em;
    text-transform: uppercase;
}
.text-muted {
    color: #8898aa !important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}