@charset "UTF-8";
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
body {
	font-family: 'LotteMartDream' !important;
}
.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
    height: 35px;
}
table{
	table-layout: fixed;
}
#search {
	width: 115px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}
#right {
	text-align: right;
}
#subject{
	width: 120px;
    display: inline-block;
}
#les{
	display: inline-block;
	width: 400px;
}
.exam-box{
	width: 92%;
    margin: 30px auto;
    height: auto;
    min-height: 1080px;
}
.exam-box-item{
	padding: 40px 50px 0px;
}
.exam-box-item h3{
	font-size: 40px;
}
.exam-tb{
    margin: 0 auto;
    text-align: center;
    border-top: 3px solid #808080ad;
    border-bottom: 2px solid #808080ad;
}
.exam-tb thead{
	font-size: 25px;
}
.exam-tb thead th{
	padding: 15px 0; 	
}
.exam-tb tbody td{
	border-top: 1px solid #80808042;
    font-size: 19px;
    padding: 10px 0;
    font-weight: 600;
}
.exam-tb tbody td span{
	font-size: 19px;
	font-weight: 600;
}
#examList tr:hover{
	cursor: pointer;
}
.card{
	height: auto;
    min-height: 1080px;
    width: 1500px;
    border: none;
    margin: auto;
}
.regBtn{
	background: #5bb75b;
    color: #fafafa;
}