<div id='player' ></div>
<script src = 'https://www.youtube.com/iframe_api'></script>
<script>
 
      function onYouTubeIframeAPIReady() {
 
 
        player = new YT.Player('player', {
          width: '640',
          height: '360',
          videoId: 'QJvhAIJvSNE',
          playerVars: {'autoplay': 1, 'showinfo': 0, 'rel':0, 'modestbranding':1,
              'wmode':'transparent', 'autohide':1
              },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
 
        });
        // 추가한소스
        window.tmp_obj = player;
 
      }
 
      function onPlayerReady(event) {
      event.target.setPlaybackQuality("hd720");
      // 추가한 소스..
      console.log(tmp_obj.getCurrentTime());
      console.log(tmp_obj.getDuration());
 
      }
 
      function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING) {
      event.target.setPlaybackQuality('hd720');
      }
      
</script>