@charset "UTF-8";
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
.card{
	height: auto;
    min-height: 1080px;
}
.select-container-area{
	width: 65%;
    margin: 4em auto 0;
    font-family: 'LotteMartDream';
    border: 1px solid;
    color: black;
}
h3{
   	font-size: 2.2em;
    margin-bottom: 15px;
}
.header-container{
}
.divider{
	height: 6px;
    background: #6b6b6b47;
}
#img-teacher{
	height: 300px;
}
.info-teacher{
	padding: 50px 80px;
}