@charset "UTF-8";
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
body{
	font-family: 'LotteMartDream';
    animation-name : ani1;
    animation-duration : 4s;
  	animation-fill-mode : forwards;
}
body *{
	font-family: 'LotteMartDream';
	font-size: 20px;
	font-weight: 600;
}
.main-box{
	height: 918px;
    overflow: hidden;
    background-image: url("/img/main/imac.svg");
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: center;
}
.btn-box{
	text-align: center;
}
button{
    border: 5px solid #0680a5b8;
    width: 500px;
    height: 96px;
    font-size: 40px;
    color: white;
}
button:hover{
	background: #0680a5b8;
	cursor: pointer;
}
p{
	display: inline-block;
	margin: 0;
	white-space: pre;
}
.div-box{
	white-space: pre-line;
/* 	height: 761px; */
/* 	width: 57%; */
/*     margin: 0 auto; */
	width: 44%;
    height: 62%;
    margin: 68px auto 0;
    padding: 0px;
    background: black;
}
.typing{
	display: inline-block;
	animation-name : ani1;
	animation-duration : 3s;
	animation-iteration-count:infinite;
}
.typing{
	color: white;
}
.access-modifier{
	color: orange;
}
.return{
	color: #34c4ff;
}
.method{
	color: skyblue;
}
.param{
	color: #76e2b5;
}
.data-type{
	color: #f55cff;
}
.variable{
	color: white;
}
.value{
	color: orange;
}
.function{
	color: #f09dffad;
}
.jsp-function{
	color: orange;
}
.jsp-function-name{
	color: #ff5151ed;
}
.jsp-var{
	color: orange;
}
.jsp-val{
	color: gray;
}
.jsp-type{
	color: white;
}
.jsp-text{
	color: white;
}
@keyframes ani1{
	0% {opacity:0; background: white;}
	100% {opacity:1; background:white;}
}

#divB{
    &:after{
      content: "|";
      animation: blink 50ms linear infinite alternate;
    }
}

@-webkit-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}